{% extends 'map/home.html' %}

{% block content %}
    <style>
    .post.h1{
        font-size: 18px;
    }

    </style>
    {% for list in map_list %}
        <div class="post">
            <div class="date">
                {{ list.published_date }}
            </div>
            <h1><a href="{% url 'AD_map' pk=post.pk %}">{{ list.floor }}</a></h1>
        </div>
    {% endfor %}

    <div class="post" style="text-align: center;">
        <p><b>{{ map.building_name }}</b>
        <p><b>{{ map.building_num}}</b>
        <p><b>{{ map.floor }}</b>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <iframe src="{{ post.get_viewer_url }}" width="100%" height="400px"></iframe>

{% endblock %}
