<!DOCTYPE html>
<html lang="ko">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS 파일 -->
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- JS 파일 (jQuery와 Popper.js도 함께 포함) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="module">
        import { VctrApi } from "https://www.vectary.com/viewer-api/v1/api.js";
        // Your Viewer API magic here
    </script>
  </head>

  <body>
    <!-- <a href="{% url 'post_new' %}" class="top-menu">맵추가</a> -->
    {% block content %}
    {% endblock %}
  </body>
</html>
