{% extends 'map/base.html' %}
{% load static %}

{% block content %}
<style>
.nav-link {
    display: inline-block;
    padding: 0.5rem 1rem;
}
a:hover{
    color: #508447;
}
div.low{
    height: fit-content;
}
.dropdown-item:hover {
    font-weight: bold;
    background: none;
    color: #b1293e;
}


body{
    min-width: 530px;
}

.nav-tabs .nav-link {
    border: none;
    background: none;
    }
.dropdown-toggle {
  display: inline-block;
  color: black;
  border: none;
  background: none;
  min-width: 30%;
  text-align: center;
}

.navbar .nav-link:focus {
  color: #508447;
}
.nav-tabs {
    border: none;
}

#navbarDropdown2::after,
#navbarDropdown3::after,
#navbarDropdown1::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border: none;
    color: black;

}
#navbarDropdown2,
#navbarDropdown3,
#navbarDropdown1{
    font-size: 25px;
    font-weight: bold;
    font-family: 'IBM Plex Sans KR', bold;
}

</style>
<body>

    <div id="logo_img" style="text-align: center; margin-top: 3%; margin-bottom: 3%">
        <a href=""><img src="{% static 'logo_.png' %}" width="300px;"></a>
    </div>
    <div class="navbar">
        <ul class="nav nav-tabs justify-content-center" style="width: 100%;">
            <li class="nav-item dropdown" style="width: 100%; text-align: center; border: none;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    3D MAP
                </a>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="" aria-haspopup="true" aria-expanded="false"    >
                    DIRECTIONS
                </a>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="" aria-haspopup="true" aria-expanded="false">
                    MAZE TIP
                </a>

                <ul class="dropdown-menu row" aria-labelledby="navbarDropdown" style="width: 80%; text-align: center; margin-left: 10%">
                    <div class="row">
                        <li class="col-sm-4"><a class="dropdown-item" href="#">30주년 기념관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">HRC(5생활관)</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">EduPark</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">공학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">공학실험관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">국제생활관(3생활관)</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">기초과학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">기초과학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">맥센터(렉처홀)</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">맥센터(메인홀)</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">문무관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">산학협력관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">융합과학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">응용과학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">인문사회관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">제2생활관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">제4생활관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">지산도서관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">창학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">학생회관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">한의학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">혜화문화관</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
<div>

</body>
<div id="map" style="width:100%;height:350px;"></div>
<p><em>마커를 클릭해주세요!</em></p>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c79acd57be8ee7ed205682cc3779496c"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커를 표시할 위치입니다
var position =  new kakao.maps.LatLng(33.450701, 126.570667);

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
  position: position,
  clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
});

// 아래 코드는 위의 마커를 생성하는 코드에서 clickable: true 와 같이
// 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
// marker.setClickable(true);

// 마커를 지도에 표시합니다.
marker.setMap(map);

// 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
var iwContent = '<div style="padding:5px;">Hello World!</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

// 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({
    content : iwContent,
    removable : iwRemoveable
});

// 마커에 클릭이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'click', function() {
      // 마커 위에 인포윈도우를 표시합니다
      infowindow.open(map, marker);
});

    $('.nav-link.dropdown-toggle').on('focus', function() {
      $(this).css('color', '#508447');
    }).on('blur', function() {
      $(this).css('color', '');
    });


</script>

{% endblock %}
