{% extends 'map/base.html' %}
{% load static %}

{% block content %}
<style>

a:hover{
    color: #508447;
}
div.low{
    height: fit-content;
}
.dropdown-item:hover {
    font-weight: bold;
    background: none;
    color: #b1293e;
}

body{
    min-width: 30%;
}
.nav-tabs .nav-link {
    border: none;
    background: none;
    }
.dropdown-toggle {
  display: inline-block;
  color: black;
  border: none;
  background: none;
  min-width: 30%;
  text-align: center;
}

.navbar .nav-link:focus {
  color: #508447;
}
.nav-tabs {
    border: none;

}

#navbarDropdown2::after,
#navbarDropdown3::after,
#navbarDropdown1::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border: none;
    color: black;

}
#navbarDropdown2,
#navbarDropdown3,
#navbarDropdown1{
    font-size: 25px;
    font-weight: bold;
    font-family: 'IBM Plex Sans KR', bold;
}

</style>
<body>

    <div id="logo_img" style="text-align: center; margin-top: 3%; margin-bottom: 3%">
        <a href=""><img src="{% static 'logo_.png' %}" width="300px;"></a>
    </div>
    <div class="navbar">
        <ul class="nav nav-tabs justify-content-center" style="width: 100%;">
            <li class="nav-item dropdown" style="width: 100%; text-align: center; border: none;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    3D MAP
                </a>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" >
                    DIRECTIONS
                </a>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3">
                    MAZE TIP
                </a>

                <ul class="dropdown-menu row" aria-labelledby="navbarDropdown" style="width: 80%; text-align: center; margin-left: 10%">
                    <div class="row">
                        <li class="col-sm-4"><a class="dropdown-item" href="#">30주년 기념관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">HRC(5생활관)</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">EduPark</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">공학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">공학실험관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">국제생활관(3생활관)</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">기초과학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">기초과학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">맥센터(렉처홀)</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">맥센터(메인홀)</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">문무관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">산학협력관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">융합과학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">응용과학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">인문사회관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">제2생활관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">제4생활관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">지산도서관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">창학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">학생회관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">한의학관</a></li>
                        <li class="col-sm-4"><a class="dropdown-item" href="#">혜화문화관</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
    <div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


    </div>

</body>

<script>
    $('.nav-link.dropdown-toggle').on('focus', function() {
      $(this).css('color', '#508447');
    }).on('blur', function() {
      $(this).css('color', '');
    });
</script>

{% endblock %}
